<div class="container">

	<div class="row">
	<div class="col-md-12">
							<table class="table table-bordered table-striped mb-none" id="datatable-default">
				<thead>
					<tr>
						<th>Fecha</th>
						<th>Username</th>
						<th>Email</th>


						<th>Frecuencia</th>
						<th>Radio</th>
						
						<th>Origen</th>
						
						<th>VIP</th>
						<th>Postales</th>

						<th>Acciones</th>

					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="usuario in listaUsuarios" class="gradeX">
						<td>{{usuario.fecha | date:'dd/MM/yyyy'}}</td>
						<td >{{usuario.username}}</td>
						<td >{{usuario.email}}</td>	

						<td >{{usuario.frecuenciaAviso}}</td>
						<td >{{usuario.radioAviso}}km</td>

						<td >{{usuario.origen}}</td>
											
						<td><input type="checkbox" ng-model="usuario.vip" ng-click="actualizarVIP(usuario.vip, usuario._id)"></td>
						<td><input type="checkbox" ng-model="usuario.ganadorPostales" ng-click="establecerGanador(usuario._id)"></td>
						<td ><a href="#">Ver</a> |<a href="#">Modificar</a> | <a href="#">Borrar</a></td>
					</tr>
				</tbody>
			</table>	
			</div>	
	</div>
</div>