<div class="container">

	<div class="row">
	<div class="col-md-12">
							<table class="table table-bordered table-striped mb-none" id="datatable-default">
				<thead>
					<tr>
						<th>name</th>
						<th>Username</th>
						<th>Avisos</th>
						<th>Frecuencia</th>
						<th>Radio</th>
						<th>Email</th>
						
						<th>Con</th>
						<th>News</th>
						<th>VIP</th>
						<th >Acciones</th>

					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="usuario in listaUsuarios" class="gradeX">
						<td>{{usuario.name | date:'dd/MM/yyyy'}}</td>
						<td >{{usuario.username}}</td>
						<td><ul><li ng-repeat="a in usuario.avisos">{{a.titulo}} (por {{a.autor}})</li></ul></td>
						<td >{{usuario.frecuenciaAviso}}</td>
						<td >{{usuario.radioAviso}}km</td>
						<td >{{usuario.email}}</td>						
						<td ><i ng-class="usuario.participarConcursos ? 'fa-check-square-o' : 'fa fa-square-o'"></i></td>
						<td ><i ng-class="usuario.newsletter ? 'fa fa-check-square-o' : 'fa fa-square-o'"></i></td>
						<td><input type="checkbox" ng-model="usuario.vip" ng-click="actualizarVIP(usuario.vip, usuario._id)">
						<td ><a href="#">Ver</a> |<a href="#">Modificar</a> | <a href="#">Borrar</a></td>
					</tr>
				</tbody>
			</table>	
			</div>	
	</div>
</div>