<section class="page-top">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<ul class="breadcrumb">
					<li><a href="#">Inicio</a></li>
					<li class="active">Mapa</li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<h1>Edita tu fotografía</h1>
			</div>
		</div>
	</div>
</section>
<div class="container">
	<div class="row">
		<div class="col-md-7">
		<div class="form-group" >
					<label>Selecciona la localización exacta</label> <span ng-show="!marker.coords.latitude>0" style="color:red">*</span><small>(Haz click en el mapa para situar el punto sobre el mapa)</small>
					<div class="row">
						<ui-gmap-google-map center='map.center' zoom='map.zoom' events="map.events">
							<ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id">
							 </ui-gmap-marker>

						</ui-gmap-google-map>
					</div>
					<span style="color:red">*</span> Campos obligatorios
				</div>
			<div class="row">
				<div class="col-md-7">
					<h3 style="    margin-top: 30px;margin-bottom: 20px;">Reto</h3>
					<p>¿Quieres incluir tu fotografía en alguno de los retos actuales?</p>
					<select style="width: 100%;"
  ng-model="retoSelected"
  ng-options="x.nombre for x in listaRetos">
  <option value="">Selecciona un reto</option>
</select>

					<br />
  <select ng-show="mostrarLocalizaciones" style="width: 100%;margin-top: 30px;"
  ng-model="localizacionSelected">
  <option value="">Selecciona una localización</option>
    <optgroup label="Cataluña">
   		 <option ng-repeat="lista in otraLista[0].localizacion" value="{{lista.codigoReto}}">{{lista.nombre}}</option>
    <optgroup label="Comunidad Valenciana">
    	<option ng-repeat="lista in otraLista2[0].localizacion" value="{{lista.codigoReto}}">{{lista.nombre}}</option>
  	</optgroup>
  	<optgroup label="Murcia">
    	<option ng-repeat="lista in otraListaMurcia[0].localizacion" value="{{lista.codigoReto}}">{{lista.nombre}}</option>
  	</optgroup>
  	<optgroup label="Andalucia">
    	<option ng-repeat="lista in otraListaAndalucia[0].localizacion" value="{{lista.codigoReto}}">{{lista.nombre}}</option>
  	</optgroup>
  	<optgroup label="Galicia">
    	<option ng-repeat="lista in otraListaGalicia[0].localizacion" value="{{lista.codigoReto}}">{{lista.nombre}}</option>
  	</optgroup>
  	<optgroup label="Asturias">
    	<option ng-repeat="lista in otraListaAsturias[0].localizacion" value="{{lista.codigoReto}}">{{lista.nombre}}</option>
  	</optgroup>
  	<optgroup label="Cantabria">
    	<option ng-repeat="lista in otraListaCantabria[0].localizacion" value="{{lista.codigoReto}}">{{lista.nombre}}</option>
  	</optgroup>
  	<optgroup label="Pais Vasco">
    	<option ng-repeat="lista in otraListaPaisVasco[0].localizacion" value="{{lista.codigoReto}}">{{lista.nombre}}</option>
  	</optgroup>
  	<optgroup label="Canarias">
    	<option ng-repeat="lista in otraListaCanarias[0].localizacion" value="{{lista.codigoReto}}">{{lista.nombre}}</option>
  	</optgroup>
  	<optgroup label="Islas Baleares">
    	<option ng-repeat="lista in otraListaIslasBaleares[0].localizacion" value="{{lista.codigoReto}}">{{lista.nombre}}</option>
  	</optgroup>
  	<optgroup label="Ceuta">
    	<option ng-repeat="lista in otraListaCeuta[0].localizacion" value="{{lista.codigoReto}}">{{lista.nombre}}</option>
  	</optgroup>
  	<optgroup label="Melilla">
    	<option ng-repeat="lista in otraListaMelilla[0].localizacion" value="{{lista.codigoReto}}">{{lista.nombre}}</option>
  	</optgroup>

</select>
				</div>
			</div>
		</div>
		<div class="col-md-5">
			<div class="row">
				<img class="thumbnail inline" src="http://res.cloudinary.com/djhqderty/image/upload/c_fit,w_440/{{localizacion.cloudinaryId}}" width="440px" style="margin-bottom:40px;" >
				
			</div>
			<div class="row">
				<div class="form-group" ng-class="{ 'has-success': form.titulo.$valid && submitted,
					'has-error': form.titulo.$invalid && submitted }">
					<label>Título <span ng-show="!localizacion.titulo.length>0" style="color:red">*</span></label>
					
					<input type="text" name="titulo" class="form-control" ng-model="localizacion.titulo" required mongoose-error/>
					<p class="help-block" ng-show="form.titulo.$error.required && submitted">
						Olvidaste poner el título
					</p>
					<p class="help-block" ng-show="form.titulo.$error.mongoose">
						{{ errors.titulo }}
					</p>
				</div>
			</div>
			<div class="row">
				<div class="form-group" >
					<label>Fecha de la toma</label> <span ng-show="!dt.length>0" style="color:red">*</span>
					<div class="row">
						<div class="col-md-6">
							<p class="input-group">
								<input type="text" class="form-control" datepicker-popup="dd/MM/yyyy" ng-model="dt" is-open="opened" datepicker-options="dateOptions"  ng-required="true" close-text="Close" />
								<span class="input-group-btn">
									<button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
								</span>
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="form-group">
					<label>Categoria</label> <span ng-show="!(localizacion.categoria>=0)" style="color:red">*</span>
					<select style="width: 100%;" ng-model="localizacion.categoria" convert-to-number>
					 <optgroup label="Nocturnas">
						  <option value="0">Nocturna Paisaje</option>
						  <option value="1">Nocturna Urbana</option>
						  <option value="2">Lightpainting</option>
						  <option value="3">Atardecer-Amanecer</option>
						  <option value="4">Monumentos</option>
						  <option value="5">Ruinas</option>
						  <option value="6">Vehículos-Maquinaria</option>
						  <option value="7">Minería</option>					  
				    </optgroup>
				    <optgroup ng-show="false" label="No sólo Nocturnas">
						  <option value="8">Paisaje</option>
						  <option value="9">Larga Exposición Diurna</option>
						  <option value="10">Urbana</option>
						  <option value="11">Costa</option>
				    </optgroup>
				</select>
				</div>
			</div>
			<!--<div class="row">
				<div class="form-group" >
					<label>Etiquetas</label>
					<tags-input ng-model="tags" placeholder="Ejemplo: luna, urbana"></tags-input>
				</div>
			</div>-->
			<div class="row">
				<div class="form-group" >
					<label>Acceso</label> <span ng-show="!localizacion.acceso.length>0" style="color:red">*</span><small>(Se puede llegar con coche? solo a pie? el terreno es peligroso?)</small> <i data-toggle="tooltip" data-placement="top" title="Explica cómo está el acceso: si se puede llegar con coche, o hay que ir andando tantos minutos, si hay cerca zonas peligrosas, etc, etc..." class="fa fa-info-circle"></i>
					<textarea class="form-control" ng-model="localizacion.acceso" rows="3" id="acceso" ng-model="localizacion.acceso" ></textarea>
					
					
				</div>
			</div>
			<div class="row">
				<div class="form-group" >
					<p style="margin:0px;"><label>Peligrosidad de la zona</label> <span ng-show="!rate>0" style="color:red">*</span></p>
					<rating ng-model="rate" max="max" readonly="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null" style="  font-size: 20px;"></rating>
					<span class="label" ng-class="{'label-warning': percent<30, 'label-info': percent>=30 && percent<70, 'label-success': percent>=70}" ng-show="overStar && !isReadonly" >{{percent}}%</span>
				</div>
			</div>
			<div class="row">
				<div class="form-group" >
					<p style="margin:0px;"><label>Contaminación lumínica</label> <span ng-show="!rateCL>0" style="color:red">*</span></p>
					<rating ng-model="rateCL" max="max" readonly="isReadonly" on-hover="hoveringOverCL(value)" on-leave="overStarCL = null" style="font-size: 20px;"></rating>
					<span class="label" ng-class="{'label-warning': percent<30, 'label-info': percent>=30 && percent<70, 'label-success': percent>=70}" ng-show="overStarCL && !isReadonly" >{{percentCL}}%</span>
				</div>
			</div>
			<div class="row">
				<div class="form-group" >
					<label>Algo más que destacar</label>
					<textarea class="form-control" ng-model="localizacion.notasAdicionales" rows="3" id="acceso" ng-model="localizacion.notasAdicionales" ></textarea>
					
					
				</div>
			</div>
			<alert type="danger"  close="closeAlert($index)" ng-show="mensajeError.length>0"> {{ mensajeError }}</alert>
			<h3 ng-show="localizacionEditada">Fotografía guardada correctamente!</h3>
			<h3 ng-show="localizacionBorrada">Fotografía borrada correctamente!</h3>
			
			<button class="btn btn-lg btn-success pull-right" style="margin-left:30px;" type="button" ng-click="editarLocalizacion()">Guardar</button> 
			<!--<button class="btn btn-lg btn-danger pull-right" type="button" ng-click="editarLocalizacion()" ng-disabled="localizacionBorrada">Borrar</button>-->
		</div>
	</div>
</div>
