<div role="main" class="main">
<style>
	.angular-google-map-container {  width:100%; height: 400px; }
</style>
<section class="page-top">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<ul class="breadcrumb">
					<li><a href="#">Inicio</a></li>
					<li class="active">Mapa</li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<h1>Localización de fotografias nocturnas</h1>
			</div>
		</div>
	</div>
</section>
<div class="container">
	<div class="row">
		<div class="col-md-8">
			Haz click en un punto para ver los detalles de la localización
			<div ng-if="showMap">
			<ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options" bounds="map.bounds" >
			<ui-gmap-markers models="misLocalizaciones" coords="'self'" icon="'icon'" click="'misLocalizaciones.events'" doCluster="true" >
			</ui-gmap-markers>
			</ui-gmap-google-map>
			</div>
		</div>
		<div class="col-md-4">
			<div ng-show="fotoActual.idClodinary.length>0">
				<h3 style="margin-bottom: 8px;">{{fotoActual.titulo}}</h3>
				<cl-image public-id="{{fotoActual.idClodinary}}" class="thumbnail inline" crop="fit" width="380" format="jpg" ></cl-image>
				<p><strong>Autor:</strong> <a href="/tus-localizaciones/{{fotoActual.autor}}">{{fotoActual.autor}}</a></p>
				<p><strong>Fecha:</strong> {{fotoActual.fechaToma | date:'dd/MM/yyyy'}}</p>
				<p><strong>Etiquetas:</strong><span ng-repeat="etiqueta in fotoActual.tags"> {{etiqueta}}, </span></p>
				<p><strong>Acceso:</strong> {{fotoActual.acceso}}</p>
				<p><strong>Peligrosidad de la zona:</strong> {{fotoActual.peligrosidad}}/10</p>
				<p><strong>Contaminacion luminica:</strong> {{fotoActual.contaminacionLuminica}}/10</p>
				<p ng-show="fotoActual.notas.length>0"><strong>Notas adicionales:</strong> {{fotoActual.notas}}</p>
				<a href="/localizaciones/{{fotoActual._id}}/{{fotoActual.titulo | seo}}">Ver detalle</a>
			</div>
		</div>
	</div>
	<div class="row" style="margin-top:20px;">
		<div class="form-group">
			<div class="col-md-6">
				<label>Buscador de localizaciones: </label>
				<input type="text" class="form-control" ng-model='busqueda'>
			</div>
		</div>
	</div>
	<div class="row" style="margin-top:5px;">
		<!--<p ng-repeat="localizacion in listaLocalizaciones">{{localizacion.titulo}}</p>-->
		<div class="col-md-12">
		<div class="panel-body">
			<h5>{{listaLocalizaciones.length}} localizaciones</h5>
			<table class="table table-bordered table-striped mb-none" id="datatable-default">
				<thead>
					<tr>
						<th>Fecha</th>
						<th style="width:20%">Imagen</th>
						<th style="width:20%">Titulo</th>
						<th>Autor</th>
						<th class="hidden-phone">Peligrosidad</th>
						<th class="hidden-phone">Contaminacion</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="localizacion in listaLocalizaciones | filter:{estado:'!2'}| filter:busqueda | orderBy: fechaSubida" class="gradeX">
						<td>{{localizacion.fechaSubida | date:'dd/MM/yyyy'}}</td>
						<td style="width:20%"><img class="thumbnail inline"  src="http://res.cloudinary.com/djhqderty/image/upload/c_scale,q_29,w_200/v1429114149/{{localizacion.cloudinaryId}}.jpg" width="200px" title="{{localizacion.titulo}}" /></td>
						<td style="width:20%"><a href="/localizaciones/{{localizacion._id}}/{{localizacion.titulo | seo}}">{{localizacion.titulo}}</a></td>
						<td><a href="/tus-localizaciones/{{localizacion.autor}}">{{localizacion.autor}}</a></td>
						<td class="center hidden-phone">{{localizacion.peligrosidad}}/10</td>
						<td class="center hidden-phone">{{localizacion.contaminacionLuminica}}/10</td>
					</tr>
				</tbody>
			</table>
		</div>
		</div>
	</div>
</div>
</div>