<div role="main" class="main">
<style>
	.angular-google-map-container {  width:100%; height: 400px; }
</style>
<section class="page-top">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<ul class="breadcrumb">
					<li><a href="#">Inicio</a></li>
					<li class="active">Localizaciones fotografía nocturna</li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<h1>Localizaciones fotografía nocturna</h1>
			</div>
		</div>
	</div>
</section>
<div class="container">
	<div class="row">
		<div class="col-md-8">
			<label>Buscador de localizaciones: </label>
			
			 <div class="input-group" style="margin-bottom:20px;">
		      <input type="text" class="form-control" ng-model='busqueda'>
		      <span class="input-group-btn">
		        <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
		      </span>
		    </div>
			
			<div ng-if="showMap">
			<ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options" bounds="map.bounds" >
			<ui-gmap-markers models="misLocalizacionesFiltradas"  coords="'self'" icon="'icon'" click="'misLocalizacionesFiltradas.events'" doCluster="true" >
			</ui-gmap-markers>
			</ui-gmap-google-map>
			Haz click en un punto para ver los detalles de la localización
			</div>
		</div>
		<div class="col-md-4">
			<div ng-show="fotoActual.idClodinary.length>0">
				<h3 style="margin-bottom: 8px;">{{fotoActual.titulo}}</h3>
				<cl-image public-id="{{fotoActual.idClodinary}}" class="thumbnail inline"  crop="fit" width="380" format="jpg" title="Fotografia por: {{fotoActual.autor}}"></cl-image>
				<p><strong>Acceso:</strong> {{fotoActual.acceso}}</p>
				<p><strong>Peligrosidad de la zona:</strong> {{fotoActual.peligrosidad}}/10</p>
				<p><strong>Contaminacion Luminica: </strong>{{fotoActual.contaminacionLuminica}}/10</p>
				<p class="text-right"><a href="/localizaciones/{{fotoActual._id}}/{{fotoActual.titulo | seo}}">Ver detalle</a></p>
			</div>
		</div>
	</div>
	
	<div class="row" style="margin-top:5px;">

		<div class="col-md-12">
		
	
			<h5>{{misLocalizacionesFiltradas.length | filter:busqueda}} localizaciones</h5>
			<div ng-repeat="localizacion in misLocalizaciones | filter:{estado:'!2'}| filter:busqueda | orderBy: fechaSubida" style="width:80px; float:left;">
				<a href="/localizaciones/{{localizacion._id}}/{{localizacion.titulo | seo}}" alt="{{localizacion.titulo | seo}}"><img src="http://res.cloudinary.com/djhqderty/image/upload/c_thumb,h_80,w_80/v1438939574/{{localizacion.idFoto}}" title="{{localizacion.titulo | seo}}"  /></a>
			</div>
			<!--<table class="table table-bordered table-striped mb-none" id="datatable-default">
				<thead>
					<tr>
						<th>Fecha</th>
						<th style="width:20%">Imagen</th>
						<th style="width:20%">Titulo</th>
						<th>Autor</th>
						<th class="hidden-phone">Peligrosidad</th>
						<th class="hidden-phone">Contaminacion</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="localizacion in misLocalizaciones | filter:{estado:'!2'}| filter:busqueda | orderBy: fechaSubida" class="gradeX">
						<td>{{localizacion.fechaSubida | date:'dd/MM/yyyy'}}</td>
						<td style="width:20%"><img class="thumbnail inline"  src="http://res.cloudinary.com/djhqderty/image/upload/c_scale,q_29,w_200/v1429114149/{{localizacion.cloudinaryId}}.jpg" width="200px" title="{{localizacion.titulo}}" /></td>
						<td style="width:20%"><a href="/localizaciones/{{localizacion._id}}/{{localizacion.titulo | seo}}">{{localizacion.titulo}}</a></td>
						<td><a href="/tus-localizaciones/{{localizacion.autor}}">{{localizacion.autor}}</a></td>
						<td class="center hidden-phone">{{localizacion.peligrosidad}}/10</td>
						<td class="center hidden-phone">{{localizacion.contaminacionLuminica}}/10</td>
					</tr>
				</tbody>
			</table>-->

		</div>



	</div>
</div>
</div>