<div role="main" class="main">
<style>
	.angular-google-map-container {  width:100%; height: 400px; }
	.categoriaActiva{
		opacity: 1;
		margin-right: 13px;
	}
	.categoriaNoActiva{
		opacity: 0.25;
		margin-right: 13px;
	}
</style>
<section class="page-top">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<ul class="breadcrumb">
					<li><a href="#">Inicio</a></li>
					<li class="active">Localizaciones fotografía nocturna</li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<h1>Localizaciones fotografía nocturna</h1>
			</div>
		</div>
	</div>
</section>
<div class="container">
	<div class="row">
		<div class="col-md-8">
			<label>Buscador de localizaciones: </label>
			
			 <div class="input-group" style="margin-bottom:20px;">
		      <input type="text" class="form-control" ng-model='busqueda'>
		      <span class="input-group-btn">
		        <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
		      </span>
		    </div>
			
			<div ng-if="showMap">
			<ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options" bounds="map.bounds" >
			<ui-gmap-markers models="misLocalizacionesFiltradas"  coords="'self'" icon="'icon'" click="'misLocalizacionesFiltradas.events'" doCluster="true" >
			</ui-gmap-markers>
			</ui-gmap-google-map>
			Haz click en un punto para ver los detalles de la localización
			</div>
		</div>
		<div class="col-md-4 text-right">
			
			<h3 class="center" style="margin-top:40px;">Filtra a tu gusto</h3>
			<p><label> Categorías </label></p>
			<a href="#" ng-click="filtrarCategoria('paisaje')"><img src="/assets/images/picture64.png" ng-class="filtroPaisaje ? 'categoriaActiva' : 'categoriaNoActiva'" width="20px" title="Nocturna paisaje" alt="Nocturna paisaje"></a>
			<a href="#" ng-click="filtrarCategoria('urbana')"><img src="/assets/images/city33.png" ng-class="filtroUrbana ? 'categoriaActiva' : 'categoriaNoActiva'" width="20px" title="Nocturna Urbana" alt="Nocturna Urbana"></a>
			<a href="#" ng-click="filtrarCategoria('lightpainting')"><img src="/assets/images/light4.png" ng-class="filtroLightpainting ? 'categoriaActiva' : 'categoriaNoActiva'" width="20px" title="Lightpainting" alt="Lightpainting"></a>
			<a href="#" ng-click="filtrarCategoria('atardecer')"><img src="/assets/images/foggy4.png" ng-class="filtroAtardecer ? 'categoriaActiva' : 'categoriaNoActiva'" width="20px" title="Atardecer-Amanecer" alt="Atardecer-Amanecer"></a>
			<a href="#" ng-click="filtrarCategoria('monumento')"><img src="/assets/images/museum34.png" ng-class="filtroMonumento ? 'categoriaActiva' : 'categoriaNoActiva'" width="20px" title="Monumentos" alt="Monumentos"></a>
			<a href="#" ng-click="filtrarCategoria('ruinas')"><img src="/assets/images/columns2.png" ng-class="filtroRuinas ? 'categoriaActiva' : 'categoriaNoActiva'" width="20px" title="Ruinas" alt="Ruinas"></a>
			<a href="#" ng-click="filtrarCategoria('vehiculo')"><img src="/assets/images/car189.png" ng-class="filtroVehiculo ? 'categoriaActiva' : 'categoriaNoActiva'" width="20px" title="Vehículos-Maquinaria" alt="Vehículos-Maquinaria"></a>
			<a href="#" ng-click="filtrarCategoria('mineria')"><img src="/assets/images/mine1.png" ng-class="filtroMineria ? 'categoriaActiva' : 'categoriaNoActiva'" width="20px" style="margin:0px;" title="Minería" alt="Minería"></a>
			<!--<p style="margin-top:40px;margin-bottom:0px"><label> Peligrosidad de la Zona </label> [{{filtroPmin}} - {{filtroPmax}}]<div range-slider class="col-md-8 text-right" min="0" max="10" model-min="filtroPmin" model-max="filtroPmax"  style="margin-bottom:0px;"></div></p>-->
			<div class="text-right" ng-show="fotoActual.idClodinary.length>0">
				

				<cl-image public-id="{{fotoActual.idClodinary}}" class="thumbnail inline"  crop="fit" width="380" format="jpg" title="Fotografia por: {{fotoActual.autor}}" style="margin-bottom:0px;margin-top:18px;"></cl-image>
				<p class="text-right"><a href="/localizaciones/{{fotoActual._id}}/{{fotoActual.titulo | seo}}">Ver detalle</a></p>
			</div>
			 
		</div>
	</div>
	
	<div ng-if="busqueda.length>0 || filtroPaisaje || filtroUrbana || filtroLightpainting || filtroAtardecer || filtroMonumento || filtroRuinas || filtroVehiculo || filtroMineria"  class="row" style="margin-top:5px;">

		<div class="col-md-12">
			<h5>{{misLocalizacionesFiltradas.length}} localizaciones</h5>
			<div ng-repeat="localizacion in misLocalizacionesFiltradas | filter:busqueda  | filter:{estado:'!2'}| orderBy: fechaSubida" style="width:80px; float:left;">
				<a href="/localizaciones/{{localizacion._id}}/{{localizacion.titulo | seo}}" alt="{{localizacion.titulo | seo}}"><img src="http://res.cloudinary.com/djhqderty/image/upload/c_thumb,h_80,q_44,w_80/v1438939574/{{localizacion.idFoto}}" title="{{localizacion.titulo | seo}}"  /></a>
				
			</div>
		</div>



	</div>
</div>
</div>