<div role="main" class="main">
	<section class="page-top">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<ul class="breadcrumb">
						<li><a href="/">Inicio</a></li>
						<li class="active">Sorteo de Postales para Navidad</li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<h1>Sorteo de Postales para Navidad</h1>
				</div>
			</div>
		</div>
	</section>
	<div class="container">
		<div class="row">
			<div class="col-md-7">
				<h3>Sorteo de Postales con tu fotografía</h3>
				<p><strong>¿Os acordáis cuando llegaba Navidad y teníais lleno el buzón de postales?</strong></p>
				<p>Puede que seamos unos nostálgicos, unos retros, o unos pasados de moda, pero el hecho de recibir una postal con un mensaje de un ser querido es algo que tiene una magia especial.</p>
				<p><strong>¿Y por qué no que esa postal tenga una fotografía tuya?</strong></p>
				<p>Pues en <a href="/" >Subpexpuesta.com</a> todas las localizaciones creadas durante el mes de Noviembre, entrarán en el sorteo para convertir tu fotografía en postal!</p>
				<p><strong style="color:green; font-size:17px;">20 ganadores</strong>, <strong style="color:#D934CB; font-size:16px;">4 postales por ganador</strong>, sólo por crear una localización nueva.</p>
				<p><strong>¿Cómo funciona el sorteo?</strong></p>
				<ul>
					<li>Por cada localización creada durante el mes de Noviembre obtendrás una participación para el sorteo. Así que cuantas más localizaciones subas durante el mes de Noviembre, más posibilidades tienes de ser uno de los 20 ganadores!</li>
					
					<li>Una vez sepamos los ganadores, nos pondremos en contacto con ellos para pedirles la fotografía que quieren en sus postales (en alta calidad).</li>
					<li>Los ganadores elegiran si recibir las 4 postales en casa, para rellenarlas ellos mismos o directamente enviamos nosotros a las direcciones deseadas.</li>
				</ul>
				<p><a href="https://drive.google.com/open?id=0B1U0eAexhCHscExKMXVvWWVrTFU" target="_blank">Ver bases del sorteo</a></p>
				<p><strong style="color:green; font-size:18px;">Mucha suerte! y a participar!</strong></p>
				<p>Para crear tu localización sólo tienes que <a href="/login" >iniciar sesión con tu usuario</a>, darle en "Crear localización" y rellenar la información necesaria del lugar. Recuerda que cuantas más localizaciones subas a la web durante Noviembre más opciones tienes de poder ser uno de los ganadores.</p>
				<img src="/assets/images/pasos.jpg" />

			</div>
			<div class="col-md-5">
				<img src="/assets/images/sorteo.jpg"  width="500px" style="margin-top:20px;" alt="Sorteo subexpuesta.com" />
				<h3 style="margin-top:20px" ng-if="topUsuariosMensual.length>0">Participantes del sorteo</h3>
				<table class="table table-striped" ng-if="topUsuariosMensual.length>0">
					<thead>
						<tr>
							<th>#</th>
							<th>Usuario</th>
							<th>Participaciones</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="usu in topUsuariosMensual | orderBy: '-total'">
							<th scope="row">{{$index+1}}</th>
							<td><a href="/tus-localizaciones/{{usu.autor}}">{{usu.autor}}</a></td>
							<td>{{usu.total}}</td>
						</tr>
					</tbody>
				</table>
			</div>
			
			
		</div>
	</div>
</div>