<footer id="footer" ng-controller="FooterCtrl">
				<div class="container">
					<div class="row">
						<div class="footer-ribbon">
							<span>Nos sigues?</span>
						</div>
						<div class="col-md-3">
							<div class="newsletter">
								<h4>Boletín de Noticias</h4>
								<p>Mantente informado con todas las novedades de la web: concursos, sorteos, premios, mejores localizaciones...</p>
			
								
			
								
			
									<div class="input-group" style="width:90%;">
										<input class="form-control" placeholder="Tu Email" ng-model="correo" type="email">
										<span class="input-group-btn">
											<button class="btn btn-default" ng-click="guardarEmail()" ng-disabled="!correo.length>0">Go!</button>
										</span>
									</div>
								<div class="alert alert-success" style="margin-top:10px;" ng-show="boletinCreado">
									<strong>Éxito!</strong> Gracias por unirte a nuestra lista.
								</div>
								<!--<div class="alert alert-danger" id="newsletterError"></div>-->
							</div>
						</div>
						<div class="col-md-3">
							<h4>Últimos artículos</h4>
							<div class="row" ng-repeat="arti in listaArticulos | orderBy:'-fechaCreacion' | limitTo:2" style="margin-top:20px;">
							<p ><img src="{{arti.imagen}}" width="50" height="50" style="float:left;margin-right:20px;"><a href="/articulo/{{arti._id}}/{{arti.titulo | seo}}">{{arti.titulo}}</a></p>
							</div>
						</div>
						<div class="col-md-4">
							<div class="contact-details">
								<h4>Revista</h4>
            					<a href="http://www.fotografonocturno.com/larevista/" target="_blank"><img src="/assets/images/revista-fotografo-nocturno.jpg" width="262px" /></a>
							</div>
						</div>
						<div class="col-md-2">
							<h4>Be Social</h4>
							<div class="social-icons">
								<ul class="social-icons">
									<li class="facebook"><a href="https://www.facebook.com/subexpuesta" target="_blank" data-placement="bottom" data-tooltip title="Facebook">Facebook</a></li>
									<li class="twitter"><a href="https://twitter.com/subexpuesta_com" target="_blank" data-placement="bottom" data-tooltip title="Twitter">Twitter</a></li>
									<li class="instagram"><a href="https://instagram.com/subexpuesta_com/" target="_blank" data-placement="bottom" data-tooltip title="Instagram">Instagram</a></li>

								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="footer-copyright">
					<div class="container">
						<div class="row">
							<div class="col-md-1">
								<a href="/" class="logo">
									<img alt="www.subexpuesta.com" class="img-responsive"  src="assets/images/subexpuesta-logo.png">
								</a>
							</div>
							<div class="col-md-4">
								<p>© Copyright 2015. Todos los derechos reservados.</p>
							</div>
							<div class="col-md-7">
								<nav id="sub-menu">
									<ul>
										<li><a href="/cookies">Información sobre cookies</a></li>
										<li><a href="/terminos-de-uso">Términos de Uso</a></li>
										<li><a href="/sitemap">Sitemap</a></li>
										<li><a href="/contacto">Contacto</a></li>
										<li><a href="/donaciones"><img src="https://www.paypalobjects.com/es_ES/ES/i/btn/btn_donate_LG.gif" width="80px" /></a></li>
									</ul>
								</nav>
							</div>
						</div>
					</div>
				</div>
			</footer>