<div class="container">

	<div class="row">

	<div class="col-md-12">
	<a href="#" class="btn btn-lg btn-warning pull-right" ng-click="establecerGanador()">Guardar ganadores</a>
	<a href="#" class="btn btn-lg btn-success pull-right" ng-click="calcularNuevo()">Establecer ganadores</a>
	
							<table class="table table-bordered table-striped mb-none" id="datatable-default">
				<thead>
					<tr>
						<th>Fecha</th>
						<th>Username</th>
						<th>Email</th>

						<th>Postales</th>

					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="usuario in listaUsuarios | filter:{ganadorPostales:true} " class="gradeX">
						<td>{{usuario.fecha | date:'dd/MM/yyyy'}}</td>
						<td >{{usuario.username}}</td>
						<td >{{usuario.email}}</td>	


						<td >{{usuario.ganadorPostales}}</td>
						
					</tr>
				</tbody>
			</table>	
			</div>	
	</div>
</div>