<style>
.angular-google-map-container { height: 100%; width: 100%; position: absolute; top: 500; left: 0;  }
</style>
<div role="main" class="main">
  <div class="home-intro">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <p>
            Localizador de fotografías <em>Nocturnas</em>
            <span>Explora todas las fotografías que puedes hacer...</span>
          </p>
        </div>
        <div class="col-md-4">
          <div class="get-started" ng-show="!isLoggedIn()">
            <a href="/signup" class="btn btn-lg btn-primary">Crea tu cuenta ahora!</a>
            <div class="learn-more">o <a href="/login">inicia sesión</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--<div class="container">
    <div class="row">
      <div class="col-md-6">
          <h3>ENHORABUENA A LOS GANADORES!!!!</h3>
          <p>Ya tenemos a los <strong>20 ganadores</strong> de las 4 postales con tu fotografía para esta Navidad. Gracias a todos los participantes.</p>
          <p>A todos los ganadores estar atentos <strong>al correo</strong> electrónico donde se os informará de como hacer efectivo el premio (comprobar en SPAM por si acaso).</p>
          <p>Dentro de poco estaremos con nuevos sorteos y concursos!</p>        
          <a href="/ganadores-postales-navidad" class="btn btn-lg btn-success pull-right">Ver Ganadores</a>
 
      </div>
      
      <div class="col-md-4">
        <a href="/ganadores-postales-navidad" alt="sorteo postales navidad"><img src="/assets/images/sorteo-finalizado.jpg"  width="500px" style="margin-top:20px;" alt="Sorteo subexpuesta.com" /></a>
      </div>
    </div>
  </div>
  <hr style="margin-top:40px;margin-bottom:40px;" />-->
  <div class="container">
    <div class="row">      
      <div class="col-md-9 center">
        <h2 class="short word-rotator-title">
        <a href="/localizaciones-fotografia-nocturna" > Descubre las mejores fotografías</a> <strong>nocturnas</strong> cerca de ti
        </h2>
        <p class="lead">
          Conoce de cada localización cómo acceder, peligrosidad de la zona y la contaminación lumínica. <a href="/localizaciones-fotografia-nocturna" >Descúbrelas!</a>
        </p>
      </div>
      <div class="col-md-3">
        <iframe width="260" src="https://www.youtube.com/embed/uR_0REQ-WX0" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row center">
      <div class="col-md-12" style="height:400px;">
        Haz click en un punto para ver los detalles de la localización
        <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options" bounds="map.bounds" >
        <ui-gmap-markers models="misLocalizaciones" coords="'self'" icon="'icon'" click="'misLocalizaciones.events'" doCluster="true" >
        </ui-gmap-markers>
        </ui-gmap-google-map>
      </div>
    </div>
    <div class="row">
      <h2 style="margin: 32px 0 32px 18px;">Últimas localizaciones subidas</h2>
      <ul class="portfolio-list sort-destination" data-sort-id="portfolio" data-plugin-options='{"delegate": "a", "type": "image", "gallery": {"enabled": true}}'>
        <li ng-repeat="loca in listaLocalizaciones | filter:{estado:'!2'} |  orderBy:'-fechaSubida' | limitTo:4 " class="col-md-3 col-sm-6 col-xs-12 isotope-item websites">
          <div class="portfolio-item img-thumbnail">
            <a href="/localizaciones/{{loca._id}}/{{loca.titulo | seo}}" class="thumb-info">
              <img alt="{{loca.titulo}}" class="img-responsive" src="http://res.cloudinary.com/djhqderty/image/upload/c_fill,h_447,w_447/{{loca.cloudinaryId}}">
              <span class="thumb-info-title">
                <span class="thumb-info-inner">{{loca.titulo}}</span>
                <span class="thumb-info-type">Ver</span>
                
              </span>
              <span class="thumb-info-action">
                <span title="Universal" class="thumb-info-action-icon"><i class="fa fa-link"></i></span>
              </span>
            </a>
          </div>
        </li>
        
        
      </ul>
    </div>
    <section class="call-to-action featured footer">
      <div class="container">
        <div class="row">
          <div class="col-md-12 center">
            <h3>Descubre el usuario que más localizaciones: <strong>{{usuarioMaximo.autor}}</strong>  <a href="/tus-localizaciones/{{usuarioMaximo.autor}}" class="btn btn-lg btn-primary" data-appear-animation="bounceIn">Ver Portfolio</a> <span class="arrow hlb hidden-xs hidden-sm hidden-md" data-appear-animation="rotateInUpLeft" style="top: -22px;"></span></h3>
          </div>

        </div>
      </div>
    </section>

  </div>
  <div class="container" style="margin-top:100px;">
        <div class="row">
          <div class="col-md-4" style="padding:0px 50px 0px 30px">
            <h4>Top Global</h4>
            <table class="table table-striped">
              <thead>
        <tr>
          <th>#</th>
          <th>Usuario</th>
          <th>Localizaciones</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="usu in maximo | orderBy: '-total' | limitTo:3">
          <th scope="row">{{$index+1}}</th>
          <td><a href="/tus-localizaciones/{{usu.autor}}">{{usu.autor}}</a></td>
          <td>{{usu.total}}</td>
        </tr>
      </tbody>
            </table>
          </div>
          <div class="col-md-4" style="padding:0px 50px 0px 30px">
            <h4>Top {{meses[fechaHoy.getMonth()]}}</h4>
            <table class="table table-striped" ng-if="topUsuariosMensual.length>0">
              <thead>
        <tr>
          <th>#</th>
          <th>Usuario</th>
          <th>Localizaciones</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="usu in topUsuariosMensual | orderBy: '-total' | limitTo:3">
          <th scope="row">{{$index+1}}</th>
          <td><a href="/tus-localizaciones/{{usu.autor}}">{{usu.autor}}</a></td>
          <td>{{usu.total}}</td>
        </tr>
      </tbody>
            </table>
            <p ng-if="topUsuariosMensual.length===0">Esperando nuevas localizaciones para este mes</p>
          </div>
          <div class="col-md-4">
            <h4 style="color:#F79A09;">Cursos destacados de este mes</h4>
            <p ng-repeat="evento in listaEventos | filter:{destacado:true} | limitTo:3"><img src="http://res.cloudinary.com/djhqderty/image/upload/c_scale,q_29,w_350/v1429114149/{{evento.cloudinaryId}}.jpg" alt="Smiley face" width="50" height="50" style="float:left;margin-right:20px;"><a href="/cursos/{{evento._id}}/{{evento.titulo | seo}}">{{evento.titulo}}</a> por <strong>{{evento.organizador}}</strong> ({{evento.fecha | date:'dd/MM/yyyy'}})</p>
          </div>
        </div>
      </div>
